@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive; }

* {
        margin: 0px;
        padding: 0px;
        font-size: 1em;
}

header {
    background-color: black;
    padding: 20px;
}

header > h1 {
    color: white ;
    font-family: var(--fonte2);
    text-align: center;
    font-size: 8vw;
}

header > h2 {
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    font-weight: 100;
}

header > h2 > a{
    font-weight: 800;
    color: white;
    text-decoration: none;
}

header > h2 > a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
    font-size: 4vw;
}

section {
    padding: 50px;
}

.sec2 {
    background-image: url('../images/beija-flor.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.212);
}

.p2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.678);
}

.sec5 {
    background-image: url('../images/carta.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.p5 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.212);
}